.bg-secondary {
    height: 40px;
}

div.dt-container .dt-search input {
    margin-bottom: 20px;
    width: 50%;
    height: 40px;
}   

div.dt-search > label {
    font-size: 20px;
}

.contenedor-input {
    width: 550px;
}

.contenedor-boton {
    width: 400px;
}