.custom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.custom-toolbar .left-section {
    float: left;
}

.custom-toolbar .right-section {
    float: right;
}

.dt-paging {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.dt-info {
    margin-top: 10px;
    float: left;
}

.dt-container {
    padding: 10px;
}

#tabla-de-info-ips {
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    border: 1px solid rgba(0, 0, 0, 0.223);
    background-color: white;
    border-bottom: 1px solid black;
}

.header-tabla {
    background-color: rgb(135, 93, 16);
    color: white;
    border: 1px solid black;
}

.tituloTable {
    padding: 5px;
    color: white;
    background-color: rgb(135, 93, 16);
}

.tituloInformacion {
    padding: 5px;
    color: white;
    background-color: rgb(84, 84, 84);
}

.contenedor-input {
    width: 550px;
}

.contenedor-boton {
    width: 400px;
}

.ip_seleccionada {
    font-size: 20px;
}